In [2]:
import os
import pandas as pd

In [3]:
pwd

'C:\\Users\\Ram_2\\Downloads\\Naseem\\mlops\\notebooks'

In [4]:
df=pd.read_csv("..\\data_given\\winequality.csv")

In [5]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
df.describe().loc[["min","max"]].to_dict()

{'fixed acidity': {'min': 4.6, 'max': 15.9},
 'volatile acidity': {'min': 0.12, 'max': 1.58},
 'citric acid': {'min': 0.0, 'max': 1.0},
 'residual sugar': {'min': 0.9, 'max': 15.5},
 'chlorides': {'min': 0.012, 'max': 0.611},
 'free sulfur dioxide': {'min': 1.0, 'max': 72.0},
 'total sulfur dioxide': {'min': 6.0, 'max': 289.0},
 'density': {'min': 0.99007, 'max': 1.00369},
 'pH': {'min': 2.74, 'max': 4.01},
 'sulphates': {'min': 0.33, 'max': 2.0},
 'alcohol': {'min': 8.4, 'max': 14.9},
 'TARGET': {'min': 3.0, 'max': 8.0}}

In [9]:
df.describe().loc[["min","max"]].to_json("schema_in.json")

In [11]:
temp=pd.read_json("schema_in.json")

In [12]:
temp

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
min,4.6,0.12,0,0.9,0.012,1,6,0.99007,2.74,0.33,8.4,3
max,15.9,1.58,1,15.5,0.611,72,289,1.00369,4.01,2.00,14.9,8

In [13]:
df.describe().loc[["min","max"]]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
min,4.6,0.12,0.0,0.9,0.012,1.0,6.0,0.99007,2.74,0.33,8.4,3.0
max,15.9,1.58,1.0,15.5,0.611,72.0,289.0,1.00369,4.01,2.00,14.9,8.0

In [18]:
class NotInRange(Exception):
    def __init__(self,message="value is not in range"):
        self.message = message
        super().__init__(self.message)

In [19]:
raise NotInRange

NotInRange: value is not in range

In [1]:
import joblib

In [5]:
a = joblib.load("..\model.joblib")

In [7]:
a.predict([[12,12,12,12,12,12,12,12,12,12,12]])

array([5.7963247])